{% extends 'root/index.html.twig' %}

{% block content %}
    <div class="about-content">
        <h1>O nas</h1>
        <div class="image">
            <img src=" {{ asset('images/about.jpg') }}" alt="">
        </div>
    </div>

{% endblock %}