{% extends 'root/index.html.twig' %}

{% block content %}
    <h1>Panel administratora</h1>

    <a href="{{ path('add_news') }}">Dodać aktualność</a>
    <a href="{{ path('remove_news') }}">Usunąć aktualność</a>


{% endblock %}